@import '~ant-design-vue/dist/antd.less';
.ant-page-header-heading-title {
  color: dodgerblue;
}
.ant-page-header-back-button {
  color: cornflowerblue;
}
.ant-list-split .ant-list-item {
  border-bottom: 1px solid #2a8be454;
}
.ant-breadcrumb-separator {
  color: white;
}
.ant-breadcrumb {
  color: white;
}
.ant-breadcrumb a {
  color: white;
}
.ant-breadcrumb > span:last-child {
  color: white;
}
.ant-form-item-label > label {
  color: white;
}
.ant-table-tbody > tr {
  background-color: rgba(8,25,37,0.95);
}
.ant-table-tbody > tr > td {
  color: rgba(24, 170, 226, 0.95);
  border-bottom: 1px solid #2a8be454;
}
.ant-upload-list-item-name {
  color: white;
}
.ant-upload-list-item-card-actions .anticon{
  color: white;
}
.ant-collapse-content > .ant-collapse-content-box {
  background-color: black;
  border-bottom: 0px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white;
  background-color: black;
}
.ant-tooltip-inner {
  color: greenyellow;
}
.ant-comment {
  color: white;
}
.ant-avatar > .alt-avatar-alter {
  color: white;
}
.ant-radio-wrapper {
  color: white;
}
.ant-descriptions-item {
  color: white;
}
.ant-descriptions-title {
  color: white;
}
.ant-descriptions-item-label {
  color: white;
}
.ant-descriptions-item-content {
  color: white;
}
.ant-comment-content-author-name {
  color: white;
}
.ant-menu.ant-menu-inline.ant-menu-root.ant-menu-dark {
  height: 400px;
}
.ant-form.ant-form-horizontal {
  border-style: dashed;
  border-color: dodgerblue;
  border-radius: 25px;
}


